= form_tag url_for(physical_rack) + '/upload', :multipart => true, class: 'form-inline', style: 'margin-top:5px; padding: 3px; border: 1px solid #ccc' do
  = submit_tag 'Upload CSV', class: 'btn btn-primary'
  = file_field_tag "file"
