.align-left{
  text-align: left;
}

.align-center{
  text-align: center;
}

.align-right{
  text-align: right;
}

.align-justify{
  text-align: justify;
}

.glyphicon, .fa{
  margin-right: 4px;
}

.bold{
  font-weight: bold !important;
}

.underline{
  text-decoration: underline !important;
}

.margin-top-1{
  margin-top: 1em !important;
}

.margin-bottom-1{
  margin-top: 1em !important;
}

.dl-labels-left dt{
  text-align:  left;
}

.animated.spinner{
  -webkit-animation: rotate360 0.5s infinite linear;
}

@-webkit-keyframes rotate360 {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}