---
---
.navbar .onering-logo{
  display:          block;
  float:            left;
  min-width:        32px;
  min-height:       32px;
  line-height:      32px;
  padding-top:      9px;
  padding-bottom:   9px;
  margin-right:     16px;
  background:       transparent url("{{ site.url_prefix }}/img/onering-logo-32-muted.png") no-repeat center center;
  opacity:          0.65;
}

.navbar .onering-logo:hover{
  text-decoration:  none;
  background-image: url("{{ site.url_prefix }}/img/onering-logo-32.png");
  opacity:          1.0;
}

.content{
  margin-top: 80px;
}

.content p{
  font-size: larger;
}

.footer{
  background-color: #F8F8F8;
  border-top: 1px solid #E7E7E7;
  margin-top: 60px;
  padding:    20px;
}

.footer .footer-links{
  padding: 0px;
}

.footer .footer-links li{
  display: inline-block;
  margin-right: 1em;
}

.footer .outbrain-logo{
  display:          inline-block;
  min-width:        100px;
  min-height:       19px;
  background:       transparent url("{{ site.url_prefix }}/img/outbrain-logo-muted.png") no-repeat center center;
}

.footer .outbrain-logo:hover{
  text-decoration:  none;
  background-image: url("{{ site.url_prefix }}/img/outbrain-logo.png");
}