<table class="table table-condensed">
  <thead>
    <tr>
      <th ng-click="sortField='id'; sortReverse=!sortReverse">ID</th>
      <th ng-click="sortField='name'; sortReverse=!sortReverse">Name</th>
      <th ng-click="sortField='properties.ip'; sortReverse=!sortReverse">Primary IP</th>
      <th ng-click="sortField='properties.site'; sortReverse=!sortReverse">Site</th>
      <th ng-click="sortField='properties.rack'; sortReverse=!sortReverse">Rack</th>
      <th ng-click="sortField='properties.unit'; sortReverse=!sortReverse">Unit</th>
      <th ng-click="sortField='properties.slot'; sortReverse=!sortReverse">Slot</th>
      <th ng-click="sortField='updated_at'; sortReverse=!sortReverse">Last Seen</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="device in devices | orderBy:sortField:sortReverse">
      <td class="id"><a tabindex="{{ devices.length + $index + 1 }}" href="#/node/{{ device.id }}">{{ device.id }}</a></td>
      <td>{{ device.name }}</td>
      <td>{{ device.properties.ip }}</td>
      <td>{{ device.properties.site | uppercase }}</td>
      <td><input class="rack" type="text" ng-model="device.properties.rack"></td>
      <td><input class="unit" type="text" ng-model="device.properties.unit"></td>
      <td>{{ device.properties.slot }}</td>
      <td>{{ device.updated_at | timeAgo }}</td>
    </tr>
  </tbody>
</table>