<div class="container">
  <div class="row card" ng-repeat="rollup in summary">
    <div class="span3">
      <h3>{{ rollup._id | uppercase }}</h3>
    </div>
    <div class="span9">
      <table class="table">
        <tbody>
          <tr>
            <th>Test</th>
            <td>Value</td>
          </tr>
          <tr>
            <th>Test</th>
            <td>Value</td>
          </tr>
          <tr>
            <th>Test</th>
            <td>Value</td>
          </tr>
          <tr>
            <th>Test</th>
            <td>Value</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>