<div class="container">
  <div class="row card" ng-repeat="rollup in summary">
    <div class="span3">
      <h3>{{ rollup._id | uppercase }}</h3>
    </div>
    <div class="span9">
      <div class="emblem emblem-medium emblem-online">{{ rollup.total }}</div>

      <div class="emblem emblem-medium emblem-fault">{{ rollup.total }}</div>

      <div class="emblem emblem-medium emblem-maintenance">{{ rollup.total }}</div>

      <div class="emblem emblem-medium emblem-unallocated">{{ rollup.total }}</div>

      <div class="emblem emblem-medium emblem-unknown">{{ rollup.total }}</div>
    </div>
  </div>
</div>