<div class="container-fluid node" ng-show="device">
  <header class="row-fluid">
    <div class="span12">
      <h1>
        <span class="name">{{ device.name | section:'.':1:1 }}<i>.{{ device.name | section:'.':2 }}</i></span>
        <span class="label hid">{{ device.id }}</span>
      </h1>
      <h6>
        Last Seen: {{ device.collected_at &amp;&amp; (device.collected_at | timeAgo) || 'has not reported' }}
      </h6>
    </div>
  </header>

  <div class="row-fluid">
    <div class="span3">
      <h3>Details</h3>
      <div ng-include="'views/node-details.html'" />
    </div>

    <div class="span6" ng-include="'views/node-dashboard.html'" />

    <div class="span3">
      <h3>Actions</h3>

      <ul class="nav nav-list well">
        <li class="nav-header">Lifecycle</li>
        <li><a open-dialog="nodeComment"><i class="icon-comment"></i> Add Note</a></li>

        <li class="nav-header">Node</li>
        <li><a href="#/node/{{ device.id }}">Restart (via OS)</a></li>
        <li><a href="#/node/{{ device.id }}">Power Cycle (via PDU)</a></li>
        <li><a href="#/node/{{ device.id }}">Kill Power (via PDU)</a></li>
      </ul>
    </div>
  </div>

</div>

<div class="modal hide" id="nodeComment">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add Note</h3>
  </div>

  <div class="modal-body">
    <textarea autofocus style="width: 95%;" ng-model="note"></textarea>
  </div>

  <div class="modal-footer">
    <a class="btn btn-danger" data-dismiss="modal" ng-click="note=null">Cancel</a>
    <a class="btn btn-primary" data-dismiss="modal" ng-click="saveNote()">Save</a>
  </div>
</div>