<table class="table table-condensed">
  <tbody>
    <tr>
      <th>Model</th>
      <td>{{ device.properties.make }} {{ device.properties.model }}</td>
    </tr>
    <tr ng-show="device.properties.serial">
      <th>Service Tag</th>
      <td>{{ device.properties.serial }} [<a target="_blank" href="http://www.dell.com/support/troubleshooting/us/en/19/Servicetag/{{ device.properties.serial }}">Support</a>]</td>
    </tr>
    <tr>
      <th>Datacenter</th>
      <td>{{ device.properties.site | uppercase }}</td>
    </tr>
    <tr>
      <th>Location</th>
      <td>
        <span ng-show="device.properties.rack">Rack {{ device.properties.rack | uppercase }}</span>
        <span ng-show="device.properties.unit">/ U{{ device.properties.unit }}<span ng-show="device.properties.slot"> /</span></span>
        <span ng-show="device.properties.slot">Slot {{ device.properties.slot }}</span>
      </td>
    </tr>
    <tr ng-show="device.properties.chassis_label">
      <th>Chassis</th>
      <td>{{ device.properties.chassis_label }}</td>
    </tr>
  </tbody>
</table>