<div class="alerts" ng-show="nagios_alerts">
  <h3>Active Alerts</h3>

  <ul class="unstyled">
    <li ng-repeat="alert in nagios_alerts" class="sidetab sidetab-{{ alert.current_state }}">
      <b>{{ alert.plugin_output }}</b>
      <span>{{ alert.last_alert_at | timeAgo }}</span>
    </li>
  </ul>
</div>

<div class="container-fluid stats" ng-show="stats">
  <div class="row-fluid">
    <div class="span6">
      <h3>Operations</h3>
      <div ng-include="'views/node-osstats.html'" />
    </div>

    <div class="span6">
      <h3>Applications</h3>

      <div ng-show="device.properties.chef">
        <h4>Chef</h4>
        <div ng-include="'views/node-summary-chef.html'" />
      </div>

      <div ng-show="device.properties.glu">
        <h4>Glu</h4>
        <div ng-include="'views/node-summary-glu.html'" />
      </div>
    </div>
  </div>
</div>