<div ng-show="summary" class="site">
  <div class="container">
    <div class="row">
      <div class="span5">
        <h3>Site {{ site | uppercase }} &mdash; {{ summary.count }} nodes</h3>
      </div>
      <address ng-show="contact" class="span4">
        <br>
        <strong>{{ contact.name }}<span ng-show="contact.vendor_site"> &ndash; {{ contact.vendor_site }}</span></strong><br>
        {{ contact.address | join:', ' }}
        (<a href="https://maps.google.com/?q={{ contact.address | join:',' }},{{ contact.city }},{{ contact.state }}" target="_blank">map</a>)<br>
        {{ contact.city }}, {{ contact.state }}&nbsp;&nbsp;{{ contact.postal }}<br>
        <br>
      </address>
      <div ng-show="contact" class="span3">
        <br>
        <div ng-show="contact.mail">
          <div ng-repeat="(type, value) in contact.mail"><i class="icon-envelope"></i> <b>{{ type | titleize }}:</b> {{ value }}</div>
          <div ng-repeat="(type, value) in contact.phones"><i class="icon-user"></i> <b>{{ type | titleize }}:</b> {{ value }}</div>
        </div>

      </div>
    </div>  
  </div>

  <div class="container">
    <div class="row">
      <div class="span12">
        <a class="btn" href="#/inf/show/site/{{ site }}"><i class="icon-list"></i> List All</a>
        <a class="btn btn-primary" ng-click="addRack()"><i class="icon-plus icon-white"></i> Add Rack</a>
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="span2 well rack" ng-repeat="rack in racks | compact:'id' | orderBy:'id'">

        <ul class="nav nav-list">
          <li class="nav-header">
            <a class="pull-left" ng-hide="rack.editing" href="#/site/{{ site }}/{{ rack.id }}" ng-model="rack">Rack {{ rack.id }}</a>
            <span class="pull-left editing" ng-show="rack.editing">Rack <input type="text" on-enter="saveRack(rack)" ng-model="rack.id" ng-model-onenter></span>
            <a class="pull-right" ng-hide="rack.editing" ng-click="rack.editing = true; rack.old = rack.id"><i class="pull-right icon-edit"></i>&nbsp;</a>
            <br>
          </li>
          <li class="nav-header">({{ rack.count || 0 }} devices)</li>
          <li ng-repeat="model in rack.children | orderBy:'-count'">{{ model.id }} <span class="badge">{{ model.count }}</span></li>
        </ul>
      </div>
    </div>

    <div class="row" ng-show="devices" class="unracked">
      <div class="span12">
        <form name="unrackedForm">
          <h4>Unracked ({{ devices.length }})</h4>
          <input type="submit" class="btn btn-primary pull-right" value="Save" ng-click="saveUnracked()"></input>

          <div ng-include="'views/devices-list.html'"></div>
        </form>
      </div>
    </div>
  </div>
</div>
