---
---
<div class="jumbotron">
  <img src="{{ site.url_prefix }}/img/onering-full.png">
  <br />
  <h2>Inventories your servers and makes details about them searchable by people and queryable by software.</h2>
</div>

<div class="row">
  <div class="col-lg-6">
    <h3>What server is <i>xyz</i> running on?</h3>

    <p>
      Above all else Onering exists to answer questions like this. Onering a service that stores information about assets in your organization, like servers and switches.  It offers a sleek frontend for your users to perform searches and generate reports, as well as a comprehensive RESTful API that can be used by scripts and configuration management systems.
    </p>
  </div>

  <div class="col-lg-6 align-center">
    <h3>&nbsp;</h3>
    <a href="{{ site.url_prefix }}/#/about/walkthrough"><img class="img-thumbnail" src="{{ site.url_prefix }}/img/about/walkthrough/thumb-search.png"></a>
    <br />
  </div>
</div>


<div class="row">
  <div class="col-lg-6">
    <h3>Turn Data Into Information</h3>

    <p>
      The modern technical infrastructure for many companies is vast &mdash; hundreds to thousands of different servers, virtual machines, and containers running numerous individual services.  Turning a list of hostnames and IP addresses into usable information is a complicated process that requires institutional knowledge at all levels.
    </p>

    <p>
      Onering offers you a single point of truth for your whole network; one place where any question can be asked (like &ldquo;Which nodes are running <i>nginx</i> on port 443?&rdquo; or &ldquo;How many nodes have not run Chef in over an hour?&rdquo;).  By putting all the facts and details about your systems in the same place, new relationships between disparate data can be discovered and utilized to make managing your infrastructure quicker and safer.
    </p>
  </div>

  <div class="col-lg-6 align-center">
    <h3>&nbsp;</h3>
    <a data-toggle="lightbox" href="#mockupNode"><img class="img-thumbnail" width="406" src="{{ site.url_prefix }}/img/about/walkthrough/mockup.png"></a>
    <br />
  </div>
</div>


<div class="row">
  <div class="col-lg-6">
    <h3>Shared Configuration Metadata</h3>

    <p>
      Configuration management systems have defined a new way to perform work in operations, but at their heart they still rely on user-provided information about what goes where. Different configuration management systems offer different mechanisms to make shared metadata available to administrators.  Onering provides a common API that can be used by any system as an external source of data.  It marries the utility of a distributed "data structure server"; the expressiveness of a data query language; and the convenience of a clean, intuitive RESTful API into one tool.
    </p>
  </div>

  <div class="col-lg-6 align-center">
    <h3>&nbsp;</h3>
    <br />
  </div>
</div>