<div class="section-title">API Reference: [[ plugin ]]</div>

<div class="endpoint-header">
  {{ content }}
</div>

<h3>Endpoints</h3>

<ul class="list-unstyled well well-sm">
  {% for endpoint in page.api %}
  <li>
    <a href="#/docs/reference/[[ plugin ]]/{{ endpoint[0] | replace:'/':'-' | remove:'[' | remove:']' }}">/api{{ endpoint[0] }}</a>
  </li>
  {% endfor %}
</ul>

{% for endpoint in page.api %}
<div class="endpoint">
  <a name="endpoint-{{ endpoint[0] | replace:'/':'-' | remove:'[' | remove:']' }}"></a>
  <div class="endpoint-definition">
    <tt>/api{{ endpoint[0] }}</tt>
    <span class="methods pull-right">
      <span>Supported HTTP Methods:</span>
      {% for method in endpoint[1].methods %}
      <span>[{{ method[0] | upcase }}]</span>
      {% endfor %}
    </span>
  </div>

  <p class="endpoint-description">
    {{ endpoint[1].description }}
  </p>

  <tabset class="endpoint-methods">
    {% for method in endpoint[1].methods %}
    <tab heading="{{ method[0] }}" class="{% if forloop.index0 == 0 %}active{% endif %}">
      <div class="margin-bottom-1">
        <p>{{ method[1].description }}</p>
      </div>

      {% if method[1].returns %}
      <div class="margin-bottom-1">
        <b>Returns</b>
        <br />
        {{ method[1].returns }}
      </div>
      {% endif %}

      {% if method[1].parameters %}
      <div class="margin-bottom-1">
        <div class="bold">Query Strings</div>
        <table class="table table-condensed pull-right">
          <thead>
            <tr>
              <th>Key</th>
              <th>Description</th>
              <th>Type</th>
              <th>Values</th>
            </tr>
          </thead>
          <tbody>
            {% for param in method[1].parameters %}
            <tr>
              <th ng-class="{'text-red': ('{{ param[1].required }}' == 'true')}">{{ param[0] }}</th>
              <td>{{ param[1].description }}</td>
              <td>{{ param[1].type }}</td>
              <td>{{ param[1].values }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}

      {% if method[1].examples %}
      <div class="endpoint-examples">
        <h4>Examples</h4>
      {% for example in method[1].examples %}
        <div class="panel panel-default">
          <div class="panel-heading bold">
            Example {{ forloop.index }}: {{ example.description }}
          </div>
          <div class="panel-body">
            <b>Request: </b>
            <tt>{{ method[0] | upcase }} {{ example.path }}</tt>
            <br />

            <b>Output:</b> Array of values of the ID field for each asset in the database.
            <br />
            <pre>{{ example.output }}</pre>
          </div>
        </div>
      {% endfor %}
      </div>
      {% endif %}
    </tab>
    {% endfor %}
  </tabset>
</div>
{% endfor %}