<div class="section-title">API Reference: [[ plugin ]]</div>

{% for endpoint in page.api %}
<div class="endpoint">
  <div class="endpoint-header">
    {{ content }}
  </div>

  <h3>Endpoints</h3>

  <div class="endpoint-definition">
    <tt>/api{{ endpoint[0] }}</tt>
    <span class="methods pull-right">
      <span>Supported HTTP Methods:</span>
      {% for method in endpoint[1].methods %}
      <span>[{{ method[0] | upcase }}]</span>
      {% endfor %}
    </span>
  </div>

  <p class="endpoint-description">
    {{ endpoint[1].description }}
  </p>

  <tabset class="endpoint-methods">
    {% for method in endpoint[1].methods %}
    <tab heading="{{ method[0] }}" class="{% if forloop.index0 == 0 %}active{% endif %}">
      <div class="row-fluid">
        <div class="col-md-6">
          <p>{{ method[1].description }}</p>
        </div>

        <div class="col-md-6">
          {% if method[1].returns %}
          <div>
            <b>Returns: </b> {{ method[1].returns }}
            <br />
            <br />
          </div>
          {% endif %}
        </div>
      </div>

      <div class="row-fluid">
        {% if method[1].parameters %}
        <div class="col-md-12">
          <div class="bold">Query Strings</div>
          <table class="table table-condensed pull-right">
            <thead>
              <tr>
                <th>Key</th>
                <th>Description</th>
                <th>Type</th>
                <th>Values</th>
              </tr>
            </thead>
            <tbody>
              {% for param in method[1].parameters %}
              <tr>
                <th>{{ param[0] }}</th>
                <td>{{ param[1].type }}</td>
                <td>{{ param[1].values }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </tab>
    {% endfor %}
  </tabset>
</div>
{% endfor %}